/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require reset
 *= require static_pages
 *= require_tree .
 *= require_self
 */


/* nav bar */
/* .logoText {
    color: #FFFFFF;
    font-size: 20px;
    font-style: bold;
} */


/* .youtube-logo {
    height: 66px;
    width: 44px;
}

.logo {
    background: none;
    border: none;
    display: flex;
    align-items: center;
}

.logoLink {
    text-decoration: none;
} */
/* 
.toolbar {
    background-color: rgba(32, 32, 32, 1);
    display: flex;
    flex-direction: row;
    position: sticky;
} */

/* .searchbar {
    background-color: #121212;
    border-radius: 3px;
    border-color: #181818;
} */

/* .signUp {
    text-decoration: none;
    color: #FFFFFF;
}

.login {
    text-decoration: none;
    color: #FFFFFF;
    font: Roboto
}

.loginButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.loginButtonText {
    position: relative;
} */
