.show-body {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    // flex-wrap: flex;
}

.player-and-comments {
    // padding-left: 70px;
    width: 70%;
}

.show-recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    

    .item {
        display: flex;
        flex-direction: row;
      
        .item-thumbnail {
            height: 98px;
            width: 175px;
        }
        .item-avatar{
            display: none;
        }
        .item-delete{
            display: none;
        }
    }
}

// .recommendation-title {
//     padding-left: 20px;
// }

.show-info {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px rgba(141, 141, 141, 0.301) solid;
}

.show-info-and-com{
    width: 1296px;
}

.show-title {
    font-size: 25px;
    font-weight: 400 ;
    margin-top: 25px;
    margin-bottom: 20px;
}

.views-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(160, 160, 160);
    padding-bottom: 20px;
    border-bottom: 1px rgba(141, 141, 141, 0.301) solid;
}

.show-channel{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
}

.av-and-channel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.show-description {
    padding-left: 55px;
}

.show-subs {
    margin-left: 15px;

    .show-channel-name {
        font-weight: 600px;
    }
}

.comment-count {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300px;
}

.add-comment {
    display: flex;
    flex-direction: row;
    padding-bottom: 25px;
}

.comment-form-and-buttons {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.comment-buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.comment {
    padding-bottom: 40px;
}

.av-and-comment {
    display: flex;
    flex-direction: row;
}

.comment-column {
    padding-left: 10px;
}

.commenter-and-date {
    display: flex;
    flex-direction: row;
    padding-bottom: 7px;
}

.comment-date {
    color: grey;
    font-size: 13px;
    padding-left: 10px;

}

.comment-and-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



